
<div ng-controller="layouts.StandardController" class="l-standard">


	<!-- BEGIN: Layout Container. -->
	<div class="l-container">


		<!-- BEGIN: Layout Header. -->
		<div class="l-header" data-photo-credit="http://www.flickr.com/photos/alachia/4755949477">

			<span class="title">
				Adopt-A-Pet
			</span>

			<ul>
				<!-- Home is never "on" - it's part of a different layout. -->
				<li>
					<a href="#/home">Home</a>
				</li>
				<li ng-class="{ on: ( subview == 'pets' ) }">
					<a href="#/pets">Pets</a>
				</li>
				<li ng-class="{ on: ( subview == 'contact' ) }">
					<a href="#/contact">Contact</a>
				</li>
			</ul>

		</div>
		<!-- BEGIN: Layout Header. -->


		<!-- Include Body Content. -->
		<div ng-switch="subview" class="l-body">
			<div ng-switch-when="contact" ng-include=" 'assets/app/views/contact/index.htm' "></div>
			<div ng-switch-when="home" ng-include=" 'assets/app/views/home/index.htm' "></div>
			<div ng-switch-when="pets" ng-include=" 'assets/app/views/pets/index.htm' "></div>
		</div>


	</div>
	<!-- END: Layout Container. -->


	<!-- BEGIN: Layout Footer. -->
	<div class="l-footer">


		<div class="description">
			This is a sample application intended to demonstrate one way to handle
			deep-routing in AngularJS.
		</div>

		<div class="author">
			By <a href="http://www.bennadel.com" target="_blank">Ben Nadel ( www.bennadel.com )</a>
			&copy; {{ copyrightYear }}
		</div>


	</div>
	<!-- END: Layout Footer. -->


</div>