
<div ng-controller="layouts.StandardController" class="l-standard">

	<h1>
		Adopt-A-Pet
	</h1>

	<p class="primary-nav">
		<a href="#/home" ng-class="{ on: ( subview == 'home' ) }">Home</a>
		<a href="#/pets" ng-class="{ on: ( subview == 'pets' ) }">Pets</a>
		<a href="#/contact" ng-class="{ on: ( subview == 'contact' ) }">Contact</a>
	</p>

	<div ng-switch="subview">
		<div ng-switch-when="contact" ng-include=" 'assets/app/views/contact/index.htm' "></div>
		<div ng-switch-when="home" ng-include=" 'assets/app/views/home/index.htm' "></div>
		<div ng-switch-when="pets" ng-include=" 'assets/app/views/pets/index.htm' "></div>
	</div>

</div>