
<div ng-controller="layouts.StandardController" class="l-standard">

	<div class="l-container">

		<div class="l-header">

			<h1>
				Adopt-A-Pet
			</h1>

			<ul>
				<li ng-class="{ on: ( subview == 'home' ) }">
					<a href="#/home">Home</a>
				</li>
				<li ng-class="{ on: ( subview == 'pets' ) }">
					<a href="#/pets">Pets</a>
				</li>
				<li ng-class="{ on: ( subview == 'contact' ) }">
					<a href="#/contact">Contact</a>
				</li>
			</ul>

		</div>

		<div ng-switch="subview" class="l-body">
			<div ng-switch-when="contact" ng-include=" 'assets/app/views/contact/index.htm' "></div>
			<div ng-switch-when="home" ng-include=" 'assets/app/views/home/index.htm' "></div>
			<div ng-switch-when="pets" ng-include=" 'assets/app/views/pets/index.htm' "></div>
		</div>

	</div>

	<div class="l-footer">

		<div class="description">
			This is a sample application intended to demonstrate one way to handle
			deep-routing in AngularJS.
		</div>

		<div class="author">
			By <a href="http://www.bennadel.com" target="_blank">Ben Nadel ( www.bennadel.com )</a>
			&copy; {{ copyrightYear }}
		</div>

	</div>

</div>