
<div ng-controller="home.HomeController">


	<h1>
		Welcome to Adopt-A-Pet
	</h1>

	<p>
		We place needy, abused, and abandoned animals in safe homes with loving people. Some of 
		these guys need a little extra love and a little extra care. But, in the end, you're 
		guaranteed to find yourself with a brand-new best friend!
	</p>

	<ul class="m-home-nav">
		<li class="cats">

			<a href="#/pets/cats">
				<span class="declaration">I Love</span>
				<span class="category">Cats</span>
			</a>

		</li>
		<li class="dogs">

			<a href="#/pets/dogs">
				<span class="declaration">I Love</span>
				<span class="category">Dogs</span>
			</a>		

		</li>
	</ul>

	<p>
		Every adoption changes a life! 
	</p>


</div>