
<div ng-controller="contact.ContactController">


	<h2>
		Contact Us
	</h2>

	<p>
		Praesent imperdiet nibh a tellus pharetra vitae blandit dui euismod. Donec arcu mauris, 
		porta non lobortis id, ultrices eget metus. Curabitur pretium diam eget dui iaculis 
		ullamcorper. Ut vitae tortor ligula. Morbi hendrerit arcu tempor mauris aliquam tincidunt. 
		Nam vestibulum malesuada leo a rhoncus. Integer metus risus, accumsan eget congue quis, 
		porttitor a sem. Quisque mollis elit eu nisi mollis ac porta nunc elementum. 
	</p>


</div>