
<div ng-controller="pets.ListController" ng-switch="isLoading">


	<!-- BEGIN: Loading Sequence. -->
	<div ng-switch-when="true">


		Loading....


	</div>
	<!-- END: Loading Sequence. -->


	<!-- BEGIN: View. -->
	<div ng-switch-when="false">


		<h1>
			{{ category.name }}
		</h1>

		<p ng-show="category.description">
			{{ category.description }}
		</p>

		<p ng-repeat="pet in pets">
			
			<a href="#/pets/{{ category.id }}/{{ pet.id }}">{{ pet.name }}</a>

		</p>

		<p>
			&laquo; <a href="#/pets">Back to Categories</a>
		</p>


	</div>
	<!-- END: View. -->


</div>